<div class="grid grid-cols-3">
    <app-product title="iPhone 14" [price]="799" img_1="https://i.postimg.cc/63fFr92k/iphone14-img1.png" img_2="https://i.postimg.cc/0j5FZL7b/iphone14-img2.png"/>
    <app-product title="iPhone 15 Pro Max" [price]="2199" img_1="https://i.postimg.cc/2SLJHdLF/iphone15promax-img1.png" img_2="https://i.postimg.cc/NfzS7CFj/iphone15promax-img2.png"/>
    <app-product title="Moto G04" [price]="249" img_1="https://i.postimg.cc/nL0vBgVd/motog4-img1.png" img_2="https://i.postimg.cc/sXx5cmv3/motog4-img2.png"/>
    <app-product title="Moto G54" [price]="439" img_1="https://i.postimg.cc/j2sQGfqj/motog54-img1.png" img_2="https://i.postimg.cc/vT3LMmDt/motog54-img2.png"/>
    <app-product title="Xiaomi 12 Lite" [price]="579" img_1="https://i.postimg.cc/RVpQDqkM/Xiaomi12-Lite-img1.png" img_2="https://i.postimg.cc/7YZn9SQs/Xiaomi12-Lite-img2.png"/>
    <app-product title="Xiaomi POCO X5" [price]="549" img_1="https://i.postimg.cc/y8wh7t6t/xiaomipocox5-img1.png" img_2="https://i.postimg.cc/JzycVM8j/xiaomipocox5-img2.png"/>
</div>